.form_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .intro_container {
    padding: 100px;

    &.fadeOut {
      animation: fadeOut 0.3s ease-in-out forwards;
    }

    .header {
      font-size: 56px;
      font-weight: bold;
      margin: 20px 0;
    }

    .subheader {
      font-size: 28px;
    }

    .button_container {
      margin: 100px;

      button {
        background-color: navy;
        height: 60px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
        padding: 10px 30px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .outro_container {
    padding: 100px;

    &.fadeIn {
      animation: fadeIn 0.3s ease-in-out forwards;
    }

    .header_container {
      display: flex;
      align-items: center;

      .header {
        font-size: 70px;
        font-weight: bolder;
        margin: 20px 0;
      }
    }

    .subheader {
      font-size: 20px;
    }
  }

  .question_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 50px;
    align-items: flex-start;

    &.fadeIn {
      animation: fadeIn 0.3s ease-in-out forwards;
    }

    &.fadeOut {
      animation: fadeOut 0.3s ease-in-out forwards;
    }

    &.fadeSlideIn {
      animation: fadeSlideIn 0.4s ease-in-out forwards;
    }

    .title {
      text-align: left;
      display: flex;
      width: 100%;
      align-items: baseline;

      .id {
        color: white;
        font-weight: 700;
        font-size: 36px;
        padding-right: 10px;
        flex: 0 0 40px;
      }

      .question {
        font-size: 30px;
        font-weight: 500;
        flex-grow: 1;
      }
    }

    .answer {
      padding: 40px;
      padding-right: 0;
      width: 100%;
      text-align: left;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='text'],
      input[type='number'] {
        outline: none;
        border: none;
        font-size: 28px;
        background: none;
        caret-color: white;
        color: white;
        line-height: 20px;
        -moz-appearance: textfield;
        opacity: 1;
        width: 100%;

        &::placeholder {
          color: white;
          opacity: 0.55;
        }
      }

      .scale {
        font-size: 20px;

        .options {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
          height: 80px;
          border: 2px solid white;
          border-radius: 10px;

          .option {
            flex: 1;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0cab9f;
            color: white;
            border-right: 1.5px solid white;

            &:last-child {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-right: none;
            }

            &:first-child {
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
            }

            &:hover {
              background-color: #89dcd5;
              font-weight: 700;
            }

            &.selected {
              background-color: white;
              color: #0cab9f;
            }

            &.blink {
              animation: blink 0.2s ease-in-out forwards;
            }
          }
        }

        .labels {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
          color: white;
          margin-top: 10px;

          .label {
            flex: 1;
            text-align: center;

            &:first-child {
              text-align: left;
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      .choice-list {
        font-size: 18px;
        display: flex;
        flex-direction: column;

        .legend {
          font-size: 15px;
          margin-bottom: 18px;
          color: white;
        }

        .choice {
          background-color: #0cab9f;
          color: white;
          border: 1px solid white;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          cursor: pointer;
          // align-items: center;

          display: flex;
          flex-direction: row;

          .bullet_container {
            flex: 0 0 25px;
            height: 25px;
            margin-right: 10px;
            position: relative;

            .bullet {
              font-size: 12px;
              height: 25px;
              border: 1px solid white;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #4ed2c8;

              &.hover {
                position: absolute;
                width: 45px;
                height: 25px;
                right: 0;
                font-size: 12px;
              }
            }
          }

          .text {
            flex-grow: 1;
          }

          .check {
            flex: 0 0 20px;

            &:after {
              content: '';
              display: block;
              width: 6px;
              height: 16px;
              border: solid white;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
            }
          }

          &:hover {
            background-color: #89dcd5;
            font-weight: 700;
          }

          &.selected {
            border: 2px solid white;

            .bullet_container {
              .bullet {
                background-color: white;
                color: #4ed2c8;
                font-weight: 700;
              }
            }
          }

          &.blink {
            animation: blinkOpacity 0.5s ease-in-out forwards;
          }
        }
      }
    }

    .required_container {
      padding: 0 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: red;

      animation: submitFadeSlideIn 0.2s ease-in-out forwards;
    }

    .submit_container {
      padding: 0 40px;
      display: flex;
      flex-direction: row;
      align-items: center;

      animation: submitFadeSlideIn 0.2s ease-in-out forwards;

      &.hidden {
        animation: submitFadeSlideOut 0.2s ease-in-out forwards;
      }

      button {
        background-color: navy;
        height: 40px;
        color: white;
        font-size: 17px;
        font-weight: bold;
        margin-right: 20px;
        padding: 10px 15px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .check {
          flex: 0 0 20px;
          margin-left: 10px;

          &:after {
            content: '';
            display: block;
            width: 6px;
            height: 16px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }
      }
    }

    &.fadeSlideOut {
      animation: fadeSlideOut 0.4s ease-in-out forwards;
    }
  }
}

@keyframes fadeSlideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-900px);
    opacity: 0;
  }
}

@keyframes fadeSlideIn {
  from {
    transform: translateY(900px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes submitFadeSlideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes submitFadeSlideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    background-color: #0cab9f;
    color: white;
  }
  25% {
    background-color: white;
    color: #0cab9f;
  }
  50% {
    background-color: #0cab9f;
    color: white;
  }
  100% {
    background-color: white;
    color: #0cab9f;
  }
}

@keyframes blinkOpacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
