.form_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .intro_container {
    padding: 100px;

    &.fadeOut {
      animation: fadeOut 0.3s ease-in-out forwards;
    }

    .header {
      font-size: 56px;
      font-weight: bold;
      margin: 20px 0;
    }

    .subheader {
      font-size: 28px;
    }

    .button_container {
      margin: 100px;

      button {
        background-color: navy;
        height: 60px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
        padding: 10px 30px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .outro_container {
    padding: 100px;

    &.fadeIn {
      animation: fadeIn 0.3s ease-in-out forwards;
    }

    .header_container {
      display: flex;
      align-items: center;

      .header {
        font-size: 70px;
        font-weight: bolder;
        margin: 20px 0;
      }
    }

    .subheader {
      font-size: 20px;
    }
  }

  .question_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 50px;
    align-items: flex-start;

    &.fadeIn {
      animation: fadeIn 0.3s ease-in-out forwards;
    }

    &.fadeOut {
      animation: fadeOut 0.3s ease-in-out forwards;
    }

    &.fadeSlideIn {
      animation: fadeSlideIn 0.4s ease-in-out forwards;
    }

    .title {
      text-align: left;
      display: flex;
      width: 100%;
      align-items: baseline;

      .id {
        color: white;
        font-weight: 700;
        font-size: 36px;
        padding-right: 10px;
        flex: 0 0 40px;
      }

      .question {
        font-size: 30px;
        font-weight: 500;
        flex-grow: 1;
      }
    }

    .answer {
      padding: 40px;
      padding-right: 0;
      width: 100%;
      text-align: left;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='text'],
      input[type='number'] {
        outline: none;
        border: none;
        font-size: 28px;
        background: none;
        caret-color: white;
        color: white;
        line-height: 20px;
        -moz-appearance: textfield;
        opacity: 1;

        &::placeholder {
          color: white;
          opacity: 0.6;
        }
      }

      .scale {
        font-size: 20px;

        .options {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
          height: 80px;
          border: 2px solid white;
          border-radius: 10px;

          .option {
            flex: 1;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0cab9f;
            color: white;
            border-right: 1.5px solid white;

            &:last-child {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-right: none;
            }

            &:first-child {
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
            }

            &:hover {
              background-color: #89dcd5;
              font-weight: 700;

              // &:last-child {
              //   border-top-right-radius: 10px;
              //   border-bottom-right-radius: 10px;
              // }
            }

            &.selected {
              background-color: white;
              color: #0cab9f;
            }

            &.blink {
              animation: blink 0.2s ease-in-out forwards;
            }
          }
        }

        .labels {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
          color: white;
          margin-top: 10px;

          .label {
            flex: 1;
            text-align: center;

            &:first-child {
              text-align: left;
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }

    &.fadeSlideOut {
      animation: fadeSlideOut 0.4s ease-in-out forwards;
    }
  }
}

@keyframes fadeSlideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-900px);
    opacity: 0;
  }
}

@keyframes fadeSlideIn {
  from {
    transform: translateY(900px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    background-color: #0cab9f;
    color: white;
  }
  25% {
    background-color: white;
    color: #0cab9f;
  }
  50% {
    background-color: #0cab9f;
    color: white;
  }
  100% {
    background-color: white;
    color: #0cab9f;
  }
}
